/* 
  Base Styles: This file contains the fundamental styles for the entire application, 
  including body styles and Tailwind base styles.
*/

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    position: relative;
    overflow-x: hidden;
}

/* Global button styles */
button {
    font-family: 'Roboto', sans-serif;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005bb5;
}