/*
  Layout Styles: This file manages the general layout styles such as container widths 
  and main content padding.
*/

.container {
    width: 100%;
    padding: 0 10px;
}

@media (min-width: 768px) {
    .container {
        width: 70%;
    }
}

main {
    padding: 1rem 0;
}

.movie-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    .movie-list {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1.5rem;
    }
}
