.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.modal-content {
    background: #1e293b;
    padding: 25px;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 1200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}

.loading-movie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 1.5rem;
    color: white;
}

.movie-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

@media (min-width: 768px) {
    .movie-details-container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.movie-image {
    flex: 1;
    max-width: 300px;
}

.poster {
    width: 100%;
    border-radius: 8px;
}

.movie-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
}

.movie-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.movie-genres,
.movie-year,
.movie-overview {
    margin-bottom: 10px;
}

.trailer-iframe-container {
    width: 50%;
    position: relative;
    padding-bottom: 28.125%;
    height: 0;
}

.trailer-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}

.no-trailer {
    color: white;
    margin-top: 10px;
}